/*----------------------------------------
 * CSS Theme Classes - This file needs  
 * { _variables.css } to work properly.                 
 *---------------------------------------*/

/* Themes */
.theme-floral {
	--theme-bg: var(--floral-white);
	--theme-bg1: var(--pink);
	--theme-bg2: white;
	--theme-text: var(--grey-medium);
	--theme-text1: var(--pink);
	--theme-text2: white;
	--theme-text3: var(--floral-white);
	--theme-nav: var(--grey-medium);
	--theme-nav-hover: var(--pink);
	--theme-border: var(--grey-medium);
	--theme-border-hover: var(--grey-medium);
	--theme-autocomplete-hover: var(--pink);
	--theme-font: var(--poppins);
}

.theme-light {
	--theme-bg: var(--super-light);
	--theme-bg1: white;
	--theme-bg2: var(--grey-medium);
	--theme-text: var(--grey-medium);
	--theme-text1: var(--pink);
	--theme-text2: white;
	--theme-text3: var(--floral-white);
	--theme-nav: var(--grey-medium);
	--theme-nav-hover: var(--pink);
	--theme-border: var(--pink);
	--theme-border-hover: var(--grey-medium);
	--theme-autocomplete-hover: var(--pink);
	--theme-font: var(--poppins);
}

.theme-cadet {
	--theme-bg: var(--cadet-blue);
	--theme-bg1: var(--white);
	--theme-bg2: var(--grey-medium);
	--theme-text: white;
	--theme-text1: var(--grey-medium);
	--theme-text2: white;
	--theme-text3: var(--floral-white);
	--theme-nav: var(--grey-medium);
	--theme-nav-hover: var(--dark);
	--theme-border: var(--grey-medium);
	--theme-border-hover: var(--cadet-blue);
	--theme-autocomplete-hover: var(--cadet-blue);
	--theme-font: var(--poppins);
}

/* Use theme styles */
.theme-bg { background: var(--theme-bg); }
.theme-bg1 { background: var(--theme-bg1); }
.theme-bg2 { background: var(--theme-bg2); }
.theme-text { color: var(--theme-text); }
.theme-text1 { color: var(--theme-text1); }
.theme-text2 { color: var(--theme-text2); }
.theme-text3 { color: var(--theme-text3); }
.theme-nav { color: var(--theme-nav); }
.theme-nav:hover { color: var(--theme-nav-hover) }
.theme-font { font-family: var(--theme-font); }

a.theme-text:hover { color: var(--theme-text1) }
a.theme-text1:hover { color: var(--theme-text2) }
a.theme-text2:hover { color: var(--theme-text2)}
a.theme-text3:hover { color: var(--theme-text2) }


.theme-button {
	background: none;
	color: var(--theme-bg2);
	padding: 18px 0px; 
	font-size: 1.45em; 
	letter-spacing: 0.075em;
	border: 2px solid var(--theme-border);
	border-radius: 0 0 0 0 !important; 
	transition: .35s;
}
.theme-button:hover {
	background: var(--theme-bg);
	color: var(--theme-text);
	border-color: var(--theme-border-hover);
}

.theme-border {
    border: 2px solid var(--theme-border);
}

.ac-bg { background: var(--theme); }
.ac-btn { 
	background: var(--theme);
	color: white;
	border: none;
	transition: .2s;
}
.ac-btn:hover, .ac-btn:focus { 
	border: 1px solid var(--theme);
	background: white;
	color: var(--theme);
	transition: .6s;
}
.ac-btn-outline, .ac-btn-outline:hover { 
	border: 1px solid var(--theme) !important;
	background: white !important;
	color: var(--theme) !important;
	transition: .5s !important;
}
.ac-border { border-color: var(--theme); }
.ac-border-gradient { border-image: var(--theme) 1; }
.ac-text { color: var(--theme); }
 a.ac-text:hover { color: var(--dark); }
 .ac-text-gradient {
 	background: var(--theme);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
 }

 /* Animation Effects */
 .ac-raise:hover {
 	box-shadow: 0 0.5em 0.5em -0.4em var(--theme) !important;
	transform: translateY(-0.25em) !important;
	transition: .2s !important;
 }
 .ac-fill:hover {
 	background: var(--theme) !important;
 	color: white !important;
 	transition: .2s !important;
 }
.ac-slide:hover {
 	box-shadow: inset 6.5em 0 0 0 var(--theme) !important;
 	color: white !important;
 	transition: .5s !important;
 }

/* Solid Theme Presets */
.ac-blue { --theme: var(--blue); }
.ac-blue-dark { --theme: var(--blue-dark); }
.ac-cadet-blue { --theme: var(--cadet-blue); }
.ac-dark { --theme: var(--dark); }
.ac-green-dark { --theme: var(--green-dark); }
.ac-green { --theme: var(--green); }
.ac-grey-dark { --theme: var(--grey-dark); }
.ac-grey-medium { --theme: var(--grey-medium); }
.ac-grey-light { --theme: var(--grey-light); }
.ac-grey { --theme: var(--grey); }
.ac-floral-white { --theme: var(--floral-white); }
.ac-light { --theme: var(--light); }
.ac-mustard { --theme: var(--mustard); }
.ac-navy { --theme: var(--navy); }
.ac-orange-dark { --theme: var(--orange-dark); }
.ac-orange { --theme: var(--orange); }
.ac-pink { --theme: var(--pink); }
.ac-purple-dark { --theme: var(--purple-dark); }
.ac-purple-light { --theme: var(--purple-light); }
.ac-purple { --theme: var(--purple); }
.ac-red { --theme: var(--red); }
.ac-red-dark { --theme: var(--red-dark); }
.ac-super-light { --theme: var(--super-light); }
.ac-turquoise { --theme: var(--turquoise); }
.ac-yellow-dark { --theme: var(--yellow-dark); }
.ac-yellow { --theme: var(--yellow); }

/* Gradient Theme Presets */
.ac-aqua { --theme: linear-gradient(to top right, var(--blue), var(--green)); }
.ac-blossom { --theme: linear-gradient(315deg, #fad0c4 0%, #f1a7f1 74%); }
.ac-flame { --theme: linear-gradient(to top right, #e6c84f 0%, #e8807f 74%); }
.ac-peach { --theme: linear-gradient(315deg, #f9d1b7 0%, #f894a4 74%); }
.ac-yogurt { --theme: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%); }

/* Font Presets */
.ac-poppins { font-family: var(--poppins); }
.ac-barlow { font-family: var(--barlow); }

/* Additional */
.f-400 { font-weight: 400; }
.f-300 { font-weight: 300; }