/* Main.css - Arin Chase - 2021 */

/* Import dependency files */
@import '_variables.css'; /* Contains variables for color presets */
@import '_themes.css'; /* Contains theme classes using variables */

:root { --navbar-size: 75px; } /* Navbar height */

html {
	scroll-behavior: smooth;
	background: white;
}

h1 { font-size: 3.5em !important; }
h4 { font-size: 1.8em; }

body {
  font-family: var(--theme-font);
  font-weight: 400;
  height: 100%;
}

img.profile { 
    border-radius: 50%; 
    height: 125px; 
    width: 125px; 
    margin: 10px 20px 10px 20px; 
    padding: 5px; 
    background: var(--theme-bg);
}

nav { height: var(--navbar-size); }

th, td { border: none !important; }
th { padding: 15px 5px 0 10px !important; }
td { padding: 0 5px 15px 10px !important; }

/* Styles for custom search form */
form {width: 90%; max-width: 900px; margin: 0 auto }
form .field { width: 100%; position: relative; margin-bottom: 15px; }
form .field input, form .field textarea, form .field select {-webkit-appearance: none; }
form .field input[type="text"] { background: none; color: var(--grey); width: 80%; margin: 0; padding: 18px 0; padding-left: 6%; font-size: 1.45em; letter-spacing: 0.05em; border: 2px solid var(--theme-border); border-radius: 0 0 0 0 !important; transition: 0.35s; }
form .field input[type="submit"] { width: 19%; background: var(--grey-medium); border-color: var(--theme-border); color: white}
form .field input[type="submit"]:hover { background: none; color: var(--grey-medium); border-color: var(--grey-medium) }
form .field input::-webkit-input-placeholder { color: var(--grey-medium)}
form .field input:focus, form .field input[type="text"].focused { outline: none; }

.main .row { max-width: 700px; }

/* Custom classes */
.card {
	border: 2px solid var(--theme-border);
	border-radius: 0 !important;
	width: 90%;
	max-width: 1100px;
	margin: 40px auto;
	padding: 0px;
}

.card-title { 
	text-transform: capitalize; 
	font-weight: 600; 
	font-size: 1.5em; 
	text-align: center; 
	margin: 0;
	padding: 15px 10px 15px 10px;
}

.card-body { padding: 0 15px; }

.logo img { width: 200px; }

.nav a { font-size: 1.1em !important; margin: 0 7px; }

.navSpace { padding-top: var(--navbar-size); }

.nutrition-icon { width: 50%; max-width: 350px; min-width: 225px; }

.space { height: 1000px; background: var(--super-light); }

.thumbnail { width: 50px; mix-blend-mode: multiply; }

.underlined { text-decoration: underline !important; }

/* Responsive tables for mobile classes */
.table-responsive-stack .responsive-thead { font-weight: bold; }
.responsive-thead {	display: none; }

#navbar { padding: 0 !important; }

.slider{
	width: 600px;
	height: 400px;
	border-radius: 10px;
	overflow: hidden;
    margin-top: 100px;
    margin-left: 100px;
  }
  
  .slides{
	width: 500%;
	height: 500px;
	display: flex;
  }
  
  .slides input{
	display: none;
  }
  
  .slide{
	width: 20%;
	transition: 1s;
  }
  
  .slide img{
	width: 800px;
	height: 500px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
	position: absolute;
	width: 800px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
    margin-top: -150px;
    margin-left: -100px;
  }
  
  .manual-btn{
	border: 2px solid #40D3DC;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
  }
  
  .manual-btn:not(:last-child){
	margin-right: 40px;
  }
  
  .manual-btn:hover{
	background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
	margin-left: 0;
  }
  
  #radio2:checked ~ .first{
	margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
	margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
	margin-left: -60%;
  }
  
  /*css for automatic navigation
  
  .navigation-auto{
	position: absolute;
	display: flex;
	width: 800px;
	justify-content: center;
	margin-top: 460px;
  }
  
  .navigation-auto div{
	border: 2px solid #40D3DC;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
	margin-right: 40px;
  } */
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
	background: #40D3DC;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
	background: #40D3DC;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
	background: #40D3DC;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
	background: #40D3DC;
  }

.how {
    margin: auto;
    width: 100%;
}

/* CONTACT FORM */
.contact-form {
    background: var(--theme-bg);
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
}
.contact-form .form-control {
  border-radius: 0; 
  border: none; 
  padding: 10px; 
  margin: 0px;
}
.contact-form .form-group {
    margin: 20px 0px 20px 0px;
    padding: 5px 1px 5px 1px;
}
.contact-image {
    text-align: center;
}
.contact-image img {
    border-radius: 6rem;
    width: 11%;
    margin-top: -5%;
}
.contact-form form {
    padding: 14%;
}
.contact-form form .row {
    margin-bottom: -7%;
}
.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: var(--theme-bg1);
    font-weight: 200;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1155px) {
	.table-responsive-stack td, .table-responsive-stack thead {
		font-size: .90em;;
	}
}

@media screen and (max-width: 973px) {
	.card { max-width: 50%; min-width: 350px; }
	.card-body { padding: 0; }
	.nav { margin-left: 20px; }
	.table-responsive-stack td, .responsive-thead { font-size: 1em; }
	.table-responsive-stack thead { display: none; }
	.table-responsive-stack tr {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    display:block;
  	}
	/*  IE9 FIX   */
	.table-responsive-stack td {
		float: left\9; width:100%; display:block; -ms-flex: 1 1 auto; flex: 1 1 auto;
	}
	.responsive-thead { display: inline; }
}

@media screen and (max-width: 570px) {
	form { width: 80%; margin: 0 auto; }
	form .field input[type="submit"], form .field input[type="text"] { width: 100%; }
	form .field input[type="text"] { border-top: none; }
	form .field input[type="submit"] { border-right: 2px solid var(--theme-border); }
	.card { max-width: 90%; }
	.main { border-radius: 0 0 0 0; }
	.main .row { max-width: 350px; }
}