th, td { padding-left: 15px !important; border: none !important; }

html { scroll-behavior: smooth; }

.main { margin-top: 50px; }

img.profile { border-radius: 50%; height: 100px; width: 100px; margin: 10px;}

form { width: 90%; max-width: 900px; margin: 0 auto; }
form .field { width: 100%; position: relative; margin-bottom: 15px; }
form .field input, form .field textarea, form .field select {-webkit-appearance: none; }
form .field input { background: blue; color: gray; width: 80%; margin: 0; padding: 18px 0; padding-left: 6%; font-size: 1.45em; letter-spacing: 0.05em; border: 2px solid gray; border-left: none; border-radius: 0 0 0 0 !important; transition: 0.35s; }
form .field input[type="submit"] { background: black; color: white; width: 20%; padding: 18px 0px; font-size: 1.45em; letter-spacing: 0.075em; border: 2px solid black; border-radius: 0 0 0 0 !important; transition: 0.35s;}
form .field input::-webkit-input-placeholder { color: gray }
form .field input:focus, form .field input[type="text"].focused { outline: none; }
form .field input[type="submit"]:hover { background: blue; border-color: blue; border-right-color: gray; }

.card {
	border: none;
	border-radius: 0 !important;
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 10px auto;
	background: white;
}

.card-title { text-transform: capitalize; font-weight: 600; font-size: 1.5em; }


.logo img { width: 200px; }

.navSpace { padding-top: var(--navbar-size); }

.nutrition-icon { width: 50%; max-width: 350px; min-width: 225px; }

.space { height: 1000px; background: var(--super-light); }

.thumbnail { width: 50px; mix-blend-mode: multiply; }

/* Responsive tables for mobile classes */
.table-responsive-stack .responsive-thead { font-weight: bold; }
.responsive-thead {	display: none; }

#navbar { padding: 0 !important; }

@media screen and (max-width: 1155px) {
	.table-responsive-stack td, .table-responsive-stack thead {
		font-size: .90em;;
	}
}

@media screen and (max-width: 973px) {
	.card { max-width: 50%; min-width: 350px; background: none; }
	.nav { margin-left: 20px; }
	.table-responsive-stack td, .responsive-thead { font-size: 1em; }
	.table-responsive-stack thead { display: none; }
	.table-responsive-stack tr {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    display:block;
	    background: var(--cadet-blue);
	    color: var(--super-light);
  	}
	.table-responsive-stack td {
		float: left\9; width:100%; display:block; -ms-flex: 1 1 auto; flex: 1 1 auto;
	}
	.responsive-thead { display: inline; }
}

@media screen and (max-width: 570px) {
	form { width: 80%; margin: 0 auto; }
	form .field input[type="submit"], form .field input { width: 100%; }
	form .field input { border-left: 2px solid var(--grey-medium); border-top: none; }
	form .field input[type="submit"] { border-right: none; }
	.card { max-width: 90%; }
}

/* body{
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #23E3C9;
  } */
  
  .slider{
	width: 700px;
	height: 500px;
	border-radius: 10px;
	overflow: hidden;
  }
  
  .slides{
	width: 500%;
	height: 500px;
	display: flex;
  }
  
  .slides input{
	display: none;
  }
  
  .slide{
	width: 20%;
	transition: 1s;
  }
  
  .slide img{
	width: 800px;
	height: 500px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
	position: absolute;
	width: 800px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
  }
  
  .manual-btn{
	border: 2px solid #40D3DC;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
  }
  
  .manual-btn:not(:last-child){
	margin-right: 40px;
  }
  
  .manual-btn:hover{
	background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
	margin-left: 0;
  }
  
  #radio2:checked ~ .first{
	margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
	margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
	margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
	position: absolute;
	display: flex;
	width: 800px;
	justify-content: center;
	margin-top: 460px;
  }
  
  .navigation-auto div{
	border: 2px solid #40D3DC;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
	margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
	background: #40D3DC;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
	background: #40D3DC;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
	background: #40D3DC;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
	background: #40D3DC;
  }